<template name="pollListItem">
  <div class="poll-list-item">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="poll-list-item-title">
          <a href="/poll/{{id}}">{{title}}</a>
        </div>
      </div>
      <div class="col-sm-12">
        Votes so far: {{votes.length}}
      </div>
      <div class="col-sm-12 text-center">
        {{#if participated id}}
          <a href="/poll/{{id}}" class="btn btn-default disabled">You Voted: TODO</a>
        {{else}}
          <a href="/poll/{{id}}" class="btn btn-default" data-action="view-poll">Cast your Vote!</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="pollDetails">
  <div class="container">
    <div class="row">
      <div id="pollDetails" class="col-sm-6 col-sm-offset-3">
        <div class="row">
          <div class="col-sm-8">
            <div class="poll-details-title">
              {{title}}
            </div>
          </div>
          <div class="col-sm-4 text-right">
            <div class="poll-details-creation-date">
              <i class="fa fa-calendar"></i> {{getTimeAgoFormat timestamp}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="poll-details-description">
              {{description}}
            </div>
          </div>
        </div>
        {{#if participated}}
        <div class="row poll-details-results">
          <div class="col-sm-12">
            Here are the results so far:
            <div class="text-center">
              {{#each options}}
              <div class="poll-details-result-option">
                <span class="poll-details-result-option-text">{{this}}: </span>
                <span class="poll-details-result-option-vote-count">{{voteCountForOption}}</span>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}}
        {{#if canVote _id}}
        <div class="row poll-details-ballet">
          <div class="col-sm-12">
            Cast Your Vote:
            <div class="poll-details-options text-center">
              {{#each options}}
              <button class="btn btn-default" data-action="vote-on-poll">{{this}}</button>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}}
        {{#unless currentUser}}
        <div class="row">
          Whoops! Please log in or create an account to vote.
        </div>
        {{/unless}}
        {{#if participated _id}}
        <div class="row">
          You've cast your vote as TODO.
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
