<template name="pollListItem">
  <div class="poll-list-item {{#if expired}}expired{{/if}}">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="poll-list-item-title">
          <a href="/poll/{{_id}}">{{title}}</a>
        </div>
      </div>
      <div class="col-sm-12 text-center">
        Votes so far: {{votes.length}}
      </div>
      {{#if expired}}
      <div class="col-sm-12 text-center">
        Voting closed
      </div>
      {{else}}
      <div class="col-sm-12 text-center">
        Voting closes {{getTimeAgoFormat expires}}
      </div>
      {{/if}}
      <div class="col-sm-12 text-center">
        {{#if participated this}}
          <a href="/poll/{{_id}}" class="btn btn-default btn-success">You Voted: {{currentUsersVote _id}}</a>
        {{else}}
          <a href="/poll/{{_id}}" class="btn btn-default" data-action="view-poll">Cast your Vote!</a>
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="pollDetails">
  <div class="container">
    <div class="row">
      <div id="pollDetails" class="col-sm-6 col-sm-offset-3">
        <div class="row">
          <div class="col-sm-8">
            <div class="poll-details-title">
              {{title}}
            </div>
          </div>
          <div class="col-sm-4 text-right">
            <div class="poll-details-creation-date">
              <i class="fa fa-calendar">{{getTimeAgoFormat timestamp}}</i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="poll-details-description">
              {{description}}
            </div>
          </div>
        </div>
        {{#if showResults this}}
        <div class="row poll-details-results">
          <div class="col-sm-12">
            Here are the results:
            <div class="text-center">
              {{#each options}}
              <div class="poll-details-result-option">
                <span class="poll-details-result-option-text">{{this}}: </span>
                <span class="poll-details-result-option-vote-count">{{voteCountForOption}}</span>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}}
        {{#if votingEnabled this}}
        <div class="row poll-details-ballet">
          <div class="col-sm-12">
            Cast Your Vote:
            <div class="poll-details-options text-center">
              {{#each options}}
              <button class="btn btn-default" data-action="vote-on-poll">{{this}}</button>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}}
        {{#unless currentUser}}
        <div class="row">
          Whoops! Please log in or create an account to vote.
        </div>
        {{/unless}}
        {{#if participated this}}
        <div class="row bg-success">
          You've cast your vote as <span class='user-vote'>{{currentUsersVote _id}}</span>.
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
